.item {
   border-radius: 3%;
   padding: 0;
   height: 88%;
   width: 90%;
   margin: 0 auto;
   padding-bottom: 2rem;
}


.category {
   opacity: 0.7;
   margin-bottom: 0.2rem;

}

.name {
   font-size: 1.2rem;
   margin-bottom: 0.1rem;
}



.during {
   opacity: 0.7;
   margin-left: 0.3rem;
}

.mainInfo{
   display: flex;
}

@media(max-width:768px){
   .item{
      height: 85%;
      margin-top: 2rem;
   }
}