.userInfo {
  cursor: pointer;
}

.userInfoText {
  font-size: 0.5rem;
  opacity: 0.6;
  margin-top: -0.5rem;
}

.userInfoOutlined {
  font-size: 1rem;
  padding-left: 0.6rem;
}

@media (min-width: 768px) {
  .userInfoText {
    font-size: 0.7rem;
  }

  .userInfoOutlined {
    margin-top: 0.4rem;
    font-size: 1.8rem;
    padding-left: 0.2rem;
  }
}

@media(max-width:768px){
  .userInfo {
    margin-top: -0.4rem;

  }
}