.header {
  width: 100%;
  margin-bottom: 5rem;
  z-index: 1;
}

.headerTitle {
  display: flex;
  font-size: 1.5rem;
  padding: 0;
  top: 2rem;
  padding-top: 1rem;
  font-weight: bold;
}

.headerItem{
  display:none;
}

@media (min-width: 768px) {
  .headerTitle {
    display: flex;
    font-size: 1.3rem;
    padding: 1.5rem;
    margin-right: 0.1rem;
    padding-top: 1rem;
    font-weight: bold;
    align-items: center;
    justify-content: center;
  }
  .headerItem{
    display:flex;
    justify-content: flex-end;
    background-color: aqua;
  }
}


.hrHeaderLine {
  margin: 25px auto 30px;
  padding: 0;
  width: 100px;
  border: 0;
  border-top: solid 6px;
  border-color: #6366f2;
  opacity: 1;
}

.iconWrap {
  right: 0.5rem;
  top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 2.5rem);
}

@media (min-width: 768px) {
  .iconWrap {
    right: 1rem;
    top: 3rem;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 2.5rem);
  }
}
@media (max-width: 768px) {
  .headerItem{
    display:flex;
    justify-content: flex-end;
    background-color: aqua;
  }
}