.footer {
   display: grid;
   padding-top: 2rem;
   padding-right: 1rem;
   padding-left: 1rem;
   grid-template-areas: 
     'content followUs contactUs'
     'copyRight copyRight copyRight'
   ;
   grid-template-rows: auto 3rem;
   grid-template-columns: 3fr 1fr minmax(4rem, 1fr) minmax(4rem, 1fr);
   gap: 1em;
   overflow: hidden;
}

.logo {
   align-items: center;
   margin-top: 0.3rem;
   width: 8rem;
   height: 8rem;
 }

.hrFooterLine {
   margin: 25px auto 30px;
   padding: 0;
   width: 100%;
   border: 0;
   border-top: solid 2px;
   border-color: #3e3f97;
   opacity: 1;
   border-radius: 0.2rem;
}

.content {
   display: flex;
   margin-left: 8rem;
   align-items: center;
   grid-area: content;
}

.content p{
   font-weight: 800;
   font-size: 2rem;
}
.followUs {
   grid-area: followUs;
}

.contactUs {
   grid-area: contactUs;
}

.iconsArea {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}
.icons{
   width: 100px;
   height: 100px;
}
.icon {
   display: block;
   width: 2rem;
   height: 2rem;
   padding-right: 0.5rem;
}

.copyRight {
   grid-area: copyRight;
   height: 4rem;
   opacity: 0.6;
   display: flex;
   justify-content: center;
   align-items: flex-start;
}

@media(max-width:768px){

   .content{
      display: flex;
      flex-direction: column;
      margin-left: 0rem;
   }

   .content p{
      font-size: 1.5rem;
   }
}
