.porductList {
    margin-top: 2rem;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.row {
    display: flex;
    flex-wrap: nowrap;
}

.arrowContainer {
    position: "relative";
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    position: "absolute";
    margin: 0 5px;
    left: 0;
    height: 50px;
    width: 50px;
    border-width: 0;
}

.right {
    position: "absolute";
    margin: 0 5px;
    right: 0;
    height: 50px;
    width: 50px;
    border-width: 0;
}

.title{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'FakePearl-Regular',sans-serif;
    display: flex;
    margin: 1rem;
    margin-left: 3rem;
    align-items: center;
}
@media (max-width:768px) {
    .arrowContainer {
        position: "relative";
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .porductList {
        margin-top: -2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .row {
        flex-wrap: wrap;
    }

    .right{
        display: none;
    }
    .left{
        display: none;
    }

    .title{
        justify-content: center;
        margin-left: 0;
    }
}