/* .porductList {
    margin-top: 2rem;
    scroll-behavior: smooth;
    overflow-x: hidden;
} */

.row {
    display: flex;
    flex-wrap: nowrap;
}

.arrowContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    margin: 0 5px;
    left: 0;
    height: 50px;
    width: 50px;
    border-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    margin: 0 5px;
    right: -30px;
    height: 50px;
    width: 50px;
    border-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'FakePearl-Regular',sans-serif;
    display: flex;
    justify-content: center;
    margin: 1rem;
    align-items: center;
}
@media (max-width:768px) {
    .arrowContainer {
        position: "relative";
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .porductList {
        margin-top: -2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .row {
        flex-wrap: wrap;
    }

    .right{
        display: none;
    }
    .left{
        display: none;
    }

    .title{
        justify-content: center;
        margin-bottom: 1rem;
    }
}

@media(max-width:723px){
    .title{
        justify-content: center;
        margin-bottom: -9%;
    }
}


@media(max-width:450px){
    .title{
        justify-content: center;
        margin-bottom: -14%;
    }
}

@media(max-width:391px){
    .title{
        justify-content: center;
        margin-bottom: -16%;
    }
}